@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



*{
    margin: 0%;
    padding: 0%;
    font-family: "inter" , sans-serif;
}
body{
    background-color: #0C0C0C;  
}

header{
    display: flex;
    width: 1200px;
    align-items: center;
    margin: 0% auto;
    margin-top: 20px;
}

nav li{
    display: inline;
}

img{
    width: 144px;
    height: 44px;
}

ul{
    padding: 0px 100px 0px 250px;
}

ul li{
    font-weight: 600;
    font-size: 17px;
    padding-right: 25px;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: #9BF00B;
    transition: 0.5s;
}

.btnheader{
    width: 224px;
    height: 60px;
    background-color:#9BF00B;
    border: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.btnheader:hover{
    background-color: #a6f027;
}

.produto h1{
    margin-top: 150px;
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.produto p{
    margin-top: 50px;
    font-size: 24px;
    font-weight: 700;
    color: #9BF00B;
    text-align: center;
}

.efeitoverde{
    position: absolute;
    width: 1000px;
    height: 320px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(134, 207, 9, 0.258984) 20.31%, rgba(155, 240, 11, 0.3) 23.53%, rgba(0, 219, 0, 0.3) 35.42%, rgba(0, 123, 0, 0.3) 40.63%, rgba(0, 132, 0, 0.3) 49.51%);
    opacity: 0.7;
    border: 1px solid #000000;
    filter: blur(250px);
}

.xbox{
    position: absolute;
    width: 1235px;
    height: 597px;
    text-align: center;  
    background: linear-gradient(0deg, #0D0D0D 0%, rgba(13, 13, 13, 0) 100%), url();
}

.conteinerimg{
    display: flex;
    justify-content: center;
}
